$color-text-white: #ffffff;
$color-text-black: #000000;
$color-rectangle: #666666;
$color-Bg-light: #ffffff;
$color-Bg-dark: #030303;
$color-Buttons-lines-Dark-red: #710707;
$color-active-h-Font-gold: #9d8665;
$color-active-slide-Font-gold: #D2B183;
$color-Buttons-grey: #b3b3b3;
$color-Buttons-grey-hover: #989898;
$color-progress-past: #24809E;
$color-progress-future: #C4C4C4;

$content-width: 1440px;
