.welcome__section {
  position: relative;
  color: $color-text-white;
}
.welcome__section-burgerMenu {
  position: absolute;
  left: -3000px;
  height: 100%;
  width: 297px;
  padding: 35px 55px;
  transition: all 0.5s ease-in-out;
  z-index: 0;

  li {
    padding-bottom: 25px;
  }
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    color: #ffffff;

    display: inline-flex;
    justify-content: space-between;
    width: 122px;
  }
  a:hover {
    cursor: pointer;
    color: $color-active-slide-Font-gold;
  }
  span {
    font-size: 32px;
  }
}
.welcome__section-burgerMenu.active {
  left: 0;
  z-index: 2;
}
.welcome__section-burgerMenu-images {
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  padding-top: 10px;
  min-width: 658px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 35px;
}
.welcome__section-burgerMenu-social {
  visibility: hidden;
  display: flex;
  min-width: 658px;
  justify-content: center;
  padding-top: 35px;
  ul {
    display: flex;
    column-gap: 25px;
  }
  li {
    padding: 0;
  }
}
.welcome__section-burgerMenu-social li a {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #666666;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px $color-rectangle);
  border-radius: 50px;
  width: 48px;
  height: 48px;
}
.welcome__section-burgerMenu-social li a:hover {
  filter: drop-shadow(0px 0px 0px $color-active-h-Font-gold);
  object {
    filter: invert(55%) sepia(35%) saturate(349%) hue-rotate(356deg) brightness(92%) contrast(84%);
  }
}
.welcome__section-burgerMenu-social object {
  pointer-events: none;
}
.welcome__container {
  position: relative;
  height: 810px;
  display: flex;
}
.welcome__content {
  position: absolute;
  top: 30%;
  pointer-events: none;
  padding-top: 10px;
  z-index: 2;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.welcome__content.active {
  opacity: 0;
  z-index: 0;
}
.welcome__content_title {
  position: relative;
  bottom: 102px;
}
.welcome__content_text {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  bottom: 75px;
}
.welcome__content a {
  position: relative;
  width: 360px;
  height: 75px;

  background-color: $color-Buttons-lines-Dark-red;
  border-radius: 10px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
.welcome__content a:hover {
  background-color: $color-active-h-Font-gold;
  cursor: pointer;
}
.welcome__content_inner-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: $color-text-white;
}
.welcome__content-slider {
  position: absolute;
  opacity: 1;
  top: 0;
  right: 20px;
  height: 100%;
  width: 67.5%;
  transition: all 0.5s ease-in-out;
}
.welcome__content-slider.active {
  opacity: 0;
  z-index: 0;
}
.welcome__content-slider-item {
  width: 100%;
  height: 750px;
}
.welcome__content-slider:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
  z-index: 2;
  pointer-events: none;
}
.welcome__content-slider-control {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 600px;
  height: 120px;
  background-color: $color-Bg-dark;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
}
.welcome__content-slider-control__num {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 76px;
  text-transform: uppercase;
}
.welcome__content-slider-control__pagination {
  display: flex;
  justify-content: space-between;
  flex: 0 1 180px;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: $color-text-white;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet:hover {
  background: $color-active-slide-Font-gold;
}
.swiper-pagination-bullet-active {
  background: $color-active-slide-Font-gold;
}
.welcome__content-slider-control__arrows {
  display: flex;
  justify-content: space-between;
  flex: 0 1 80px;

  button {
    font-size: 30px;
    color: $color-Bg-light;
    background-color: $color-Bg-dark;
    border: none;
  }
  button:hover {
    color: $color-active-slide-Font-gold;
  }
}

@media (max-width: 1024px) {
  .welcome__container {
    height: 585px;
  }
  .welcome__content {
    top: 24%;
  }
  .welcome__content_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .welcome__content_text {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    bottom: 75px;
  }
  .welcome__content_inner-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    color: $color-text-white;
  }
  .welcome__content a {
    width: 300px;
    height: 60px;
    bottom: 24px;
  }
  .welcome__content-slider-item {
    height: 525px;
    background: linear-gradient(
        90deg,
        #000000 0%,
        rgba(0, 0, 0, 0.5) 16.19%,
        rgba(0, 0, 0, 0) 30.73%
      ),
      url(../assets/img/welcome-slider0.webp) no-repeat center/cover;
  }
  .welcome__content-slider-control {
    width: 700px;
    height: 120px;
    column-gap: 45px;
    padding-right: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .welcome__content-slider-control__num {
    font-size: 20px;
    flex: 0 1 71px;
  }
  .welcome__content-slider-control__pagination {
    flex: 0 1 160px;
  }
  .welcome__content-slider-control__pagination-item {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 768px) {
  .welcome__section-burgerMenu-images {
    visibility: visible;
  }
  .welcome__section-burgerMenu-social {
    visibility: visible;
  }
  .welcome__container {
    position: static;
    height: 861px;
    flex-direction: column;
  }
  .welcome__content {
    position: static;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  .welcome__content_title {
    position: static;
    bottom: 0;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 5px;
  }
  .welcome__content_text {
    position: static;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 47px;
  }
  .welcome__content a {
    display: none;
  }
  .welcome__content-slider {
    position: static;
    height: 100%;
    width: 100%;
  }
  .welcome__content-slider-item {
    height: 546px;
    background: url(../assets/img/welcome-slider0.webp) no-repeat center/cover;
  }
  .welcome__content-slider-control {
    position: static;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
    padding-right: 0;
  }
}

@media (max-width: 420px) {
  .welcome__section-burgerMenu-images {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    min-width: 311px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;

    img {
      width: 95px;
      height: 95px;
      object-fit: cover;
    }
  }
  .welcome__section-burgerMenu-social {
    display: flex;
    min-width: 311px;
    justify-content: center;
    padding-top: 23px;
  }
  .welcome__section-burgerMenu-social ul {
    column-gap: 5px;
  }
  .welcome__container {
    height: 544px;
  }
  .welcome__content_title {
    font-size: 28px;
    line-height: 40px;
    padding-top: 5px;
  }
  .welcome__content_text {
    font-size: 16px;
    line-height: 19px;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .welcome__content-slider-item {
    height: 285px;
  }
  .welcome__content-slider-control {
    height: 40px;
    column-gap: 25px;
    padding-top: 38px;
  }
  .welcome__content-slider-control__pagination {
    flex: 0 1 75px;
  }
  .welcome__content-slider-control__pagination-item {
    width: 7px;
    height: 7px;
  }
  .welcome__content-slider-control__num {
    font-size: 16px;
    flex: 0 1 50px;
  }
  .welcome__content-slider-control__arrows {
    flex: 0 1 55px;
  }
  .welcome__content-slider-control__arrows button {
    font-size: 22px;
  }
}
